@CHARSET "ISO-8859-1";

body {
	background: url(../images/snow.jpg) fixed 50%;
	margin-left: 10px;
	padding:20px 50px;
}

input {
    width: 200px;
    height: 30px;
    padding: 4px;
    vertical-align: top;
}

#age{
    width: 50px;
}

label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    vertical-align: top;
    text-align: right;
}

.sakol{
    width: 15px;
}